<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/shepherd/css/shepherd-theme-default.css">
    <link rel="stylesheet" href="bower_components/shepherd/css/shepherd-theme-arrows.css">
    

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/shepherd/shepherd.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>

    <script>
	tour = new Shepherd.Tour({
	  defaults: {
	    classes: 'shepherd-theme-arrows',
	    scrollTo: true
	  }
	});
    </script>
</head>

<body ng-app="myapp">
<div class="container" style="margin-left: 125px;">
	<div ng-controller="MainController">
	    <h2>Template</h2>

	    <textarea id="textare" ng-model="html1" style="width: 1000px; height: 200px;"></textarea>
	    <h2>Form</h2>
	    <div id="formGen" compile-html="html2"></div>
	    
	    <h2>Result</h2>
	    <div id="formHTML">{{html3}}</div>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>

	    <h1>Baby are you giveall. I barely even know you.</h1>
	    <guider description="Ready for the purplelight!">
	    	Hello yeah bitch!
	    	<variable name="name"></variable>
	    	<variable name="phone"></variable>
	    	<variable name="email"></variable>
	    	<!-- <div id="hell">Hell itself is singing</div> -->
	    </guider>

	    <guider description="Questions we might never need to answer!">
	    	This is whatever you think it is
	    </guider>

	    <variable name='kuroko'>
	    </variable>
	</div>

</div>





<script>
angular.module("myapp", [])
    .controller("MainController", function($scope, $interpolate, $sce, $interval) {
        $scope.helloTo = {};
        $scope.helloTo.title = "World, AngularJS";
        $scope.html1 = "";
        $scope.html2 = "";
        $scope.html3 = "";
        window.scope = $scope;

        $scope.parseVariables = function(html) {
        	var re = /\{\{(\w+)\}\}/g;
        	var res = html.match(re);
        	for(var i in res)
        		res[i] = res[i].replace(/[\{\}]/g,'')
        	return res;
        }

        $scope.generateForm = function(variables) {
        	var html = "";
        	
        	for(var i in variables){
        		html += '<label>' + variables[i] + ':</label>'
                html += '<input type="text" ng-model="' + variables[i] + '">';
        	}
        	//console.log(html);
        	return html;
        }

        $scope.generateText = function() {
        	$scope.html3 = $sce.trustAsHtml($interpolate($scope.html1)($scope));	
        }

        $scope.$watch('html1', function() {
        	//console.log($scope.variables)
        	var variables = $scope.parseVariables($scope.html1);
        	$scope.html2 = $sce.trustAsHtml($scope.generateForm(variables));
        	//debugger;
        	console.log($interpolate($scope.html1)($scope));
        	$scope.generateText();
        });

        $interval(function(){
        	$scope.generateText();
        }, 50)
    } )
	.directive('compileHtml',['$sce', '$parse', '$compile', function($sce, $parse, $compile){
	  return {
	    link: function(scope,element,attr){
	      var parsed = $parse(attr.compileHtml);
	      function getStringValue() { return (parsed(scope) || '').toString(); }            
	      scope.$watch(getStringValue, function (value) {
	        var el = $compile($sce.getTrustedHtml(parsed(scope)) || '')(scope);
	        element.empty();
	        element.append(el);        
	      });       
	    } 
	  };
	}])
	.directive('guider',['$sce', '$parse', '$compile', function($sce, $parse, $compile){
	  return {
	  	restrict: 'E',
	    link: function(scope, element, attr) {
	      //debugger;
	      var $el = $("<form></form>");
	      // Strip non form tags and compile
	      $el.append(element.html());
	      //debugger;
	      $compile($el.contents())(scope);
	      //console.log(html);
	      tour.addStep('myStep', {
			  title: attr.description,
			  scrollTo: true,
			  text: $el[0],
			  attachTo: "#formGen",
			  classes: 'shepherd shepherd-open shepherd-theme-arrows shepherd-transparent-text',
			  buttons: [
			  	{
			  		text: 'Back',
			  		classes: 'shepherd-button-example-primary',
			  		action: function() {
			  			return tour.back();
			  		}
			  	},
			    {
			      text: 'Next',
			      classes: 'shepherd-button-example-primary',
			      action: function() {
			        return tour.next();
			      }
			    }
			  ]
			});
	    } 
	  };
	}])
	.directive('variable',['$compile', function($compile){
	  return {
	  	restrict: 'E',
	  	replace: true,
	  	link: function(scope, element, attr){
	      console.log('i am alive!')
	      element.html('<input type="text" name="name">')
	      //alert('i am alive')
	      //	debugger;     
	    } 
	  };
	}]);
</script>

<script>
	$(function(){
		// tour.on('show', function(a,b,c){
		// 	debugger;
		// })
		tour.start();
	});
</script

</body>
</html>